   
   @import url(./global.css);

   body {
      background-color: black;
    }
    
    h2 {
      font-size: 2rem;
      color: #33A8DB;
      font-weight: bold;
      letter-spacing: 4px;
      text-transform: uppercase;
      margin-bottom: 24px;
    }

    section {
      margin: 100px auto;
    }
    
    p {
      color: white;
    }
  
    .banner {
      background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('../images/banner.png');
      background-size: auto;
      background-repeat: no-repeat;
      height: 600px;
      padding-top: 60px;
      border-bottom: 1px solid #33A8DB80;
    }
    
    .banner .banner-content {
      color: white;
      width: 600px;
      margin: auto;
      text-align: center;
    }

    .banner .logo {
      background-color: rgba(0, 0, 0, .2);
      height: 260px;
      width: 260px;
      margin: auto;
      border-radius: 50%;
      padding: 16px;
      margin-bottom: 16px;

    }

    .banner h1 {
      background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
      font-size: 2.5rem; 
    }

    .banner p {
      text-align: center;
      margin: 16px 0 24px;
      font-size: 20px;
    }

    .banner button {
      color: #31A8DD;
      padding: 19px 91px;
      background: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
      font-size: 20px;
      font-family: arial;
      font-weight: bold;
      border: 1px solid;
      border-color: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    }

    #course-content {
      width: 1440px;
      text-align: center;
      margin-top: 100px;
      margin-bottom: 100px;
    }

    #course-content p {
      font-size: 16px;
      text-align: center;
      width: 800px;
      margin: auto;
    }

    .module {
      width: 525px;
      border: 1px solid #33A8DB;
      background: #252525;
      padding: 16px 10px;
      align-items: center;
      margin: 24px auto;
      color: white;
      border-radius: 57px;
      font-size: 14px;
      text-align: center;
      box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
    }

    span {
      color: #33A8DB;
    }

    #transform-world {
      background-image: url(../images/woman-code.png);
      height: 450px;
      background-size: cover;
      background-attachment: fixed;
      padding: 150px;
      border: 1px solid #33A8DB;
    }

    #transform-world p {
      color: white;
      font-size: 40px;
      max-width: 280px;
      text-align: left;
      text-shadow: 3px 2px #33A8DB;
    }
    
    #professional-challenges {
      height: 600px;
      text-align: center;
    }

    #professional-challenges p {
      padding: 50px 500px;
    }

    h2 {
      margin: 30px 500px;
    }

    footer {
      margin: auto;
      text-align: center;
      border-top: #1472B7 1px solid;
      padding: 30px;
      background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    }

    footer p {
      padding: 10px;
      font-weight: 100;
    }

    footer a {
      color: #33A8DB;
    }